# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\3kurs\dev_technologies\development-technologies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
